class {{className}} {
    private String {{atributeName1}} = null;
    private String {{atributeName2}} = null;
    private String {{atributeName3}} = null;
    private String {{atributeName4}} = null;

    public {{className}}() {}

    public {{className}}(String {{atributeName1}}, String {{atributeName1}}, String {{atributeName3}}, String {{atributeName4}}) {
        this.{{atributeName1}} = {{atributeName1}};
        this.{{atributeName1}} = {{atributeName1}};
        this.{{atributeName3}} = {{atributeName3}};
        this.{{atributeName4}} = {{atributeName4}};
    }

    public String get{{atributeName1Camel}}() { return this.{{atributeName1}}; }

    public void set{{atributeName1Camel}}(String {{atributeName1}}) { this.{{atributeName1}} = {{atributeName1}}; }

    public String get{{atributeName2Camel}}() { return this.{{atributeName2}}; }

    public void set{{atributeName2Camel}}(String {{atributeName2}}) { this.{{atributeName2}} = {{atributeName2}}; }

    public String get{{atributeName3Camel}}() { return this.{{atributeName3}}; }

    public void set{{atributeName3Camel}}(String {{atributeName3}}) { this.{{atributeName3}} = {{atributeName3}}; }

    public String get{{atributeName4Camel}}() { return this.{{atributeName4}}; }

    public void set{{atributeName4Camel}}(String {{atributeName4}}) { this.{{atributeName4}} = {{atributeName4}}; }
}