type {{className}}* = ref object
    {{atributeName1}}: string
    {{atributeName2}}: string
    {{atributeName3}}: string
    {{atributeName4}}: string

proc new{{className}}() =
    return {{className}}()

proc new{{className}}({{atributeName1}}: string, {{atributeName2}}: string, {{atributeName3}}: string, {{atributeName4}}: uint8) =
    return {{className}}(
        {{atributeName1}}: {{atributeName1}},
        {{atributeName2}}: {{atributeName2}},
        {{atributeName3}}: {{atributeName3}},
        {{atributeName4}}: {{atributeName4}}
    )

proc get{{atributeName1Camel}}(self: {{className}}) =
    return self.{{atributeName1}}

proc set{{atributeName1Camel}}(self: {{className}}, {{atributeName1}}: string) =
    self.{{atributeName1}} = {{atributeName1}}

proc get{{atributeName2Camel}}(self: {{className}}) =
    return self.{{atributeName2}}

proc set{{atributeName2Camel}}(self: {{className}}, {{atributeName2}}: string) =
    self.{{atributeName2}} = {{atributeName2}}

proc get{{atributeName3Camel}}(self: {{className}}) =
    return self.{{atributeName3}}

proc set{{atributeName3Camel}}(self: {{className}}, {{atributeName3}}: string) =
    self.{{atributeName3}} = {{atributeName3}}

proc get{{atributeName4Camel}}(self: {{className}}) =
    return self.{{atributeName4}}

proc set{{atributeName4Camel}}(self: {{className}}, {{atributeName4}}: string) =
    self.{{atributeName4}} = {{atributeName4}}