class {{className}}(object):
    __{{atributeName1}}: str = None
    __{{atributeName2}}: str = None
    __{{atributeName3}}: str = None
    __{{atributeName4}}: str = None

    def __init__(
        self,
        {{atributeName1}}: str = None,
        {{atributeName2}}: str = None,
        {{atributeName3}}: str = None,
        {{atributeName4}}: str = None
    ) -> object:
        self.__{{atributeName1}} = {{atributeName1}}
        self.__{{atributeName2}} = {{atributeName2}}
        self.__{{atributeName3}} = {{atributeName3}}
        self.__{{atributeName4}} = {{atributeName4}}

    def get_{{atributeName1}}(self) -> str:
        return self.__{{atributeName1}}

    def set_{{atributeName1}}(self, {{atributeName1}}: str):
        self.__{{atributeName1}} = {{atributeName1}}

    def get_{{atributeName2}}(self) -> str:
        return self.__{{atributeName2}}

    def set_{{atributeName2}}(self, {{atributeName2}}: str):
        self.__{{atributeName2}} = {{atributeName2}}

    def get_{{atributeName3}}(self) -> str:
        return self.__{{atributeName3}}

    def set_{{atributeName3}}(self, {{atributeName3}}: str):
        self.__{{atributeName3}} = {{atributeName3}}

    def get_{{atributeName4}}(self) -> str:
        return self.__{{atributeName4}}

    def set_{{atributeName4}}(self, {{atributeName4}}: str):
        self.__{{atributeName4}} = {{atributeName4}}